@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&family=Young+Serif&display=swap");
:root {
  --white: hsl(0, 0%, 100%);
  --rose-white: hsl(330, 100%, 98%);
  --eggshell: hsl(30, 54%, 90%);
  --light-grey: hsl(30, 18%, 87%);
  --wenge-brown: hsl(30, 10%, 34%);
  --dark-charcoal: hsl(24, 5%, 18%);
}

/* CSS reset courtesy of Josh W Comeau */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  font-family: "Young Serif", sans-serif;
  color: var(--wenge-brown);
}

h1,
h3 {
  color: var(--dark-charcoal);
}

p {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* Basic styling, body and variables */

body,
h3 {
  font-family: "Outfit", sans-serif;
}

h1,
h3 {
  color: var(--dark-charcoal);
}

body {
  background-color: var(--eggshell);
  color: var(--wenge-brown);
}

section {
  display: grid;
  gap: 1rem;
}

/* Recipe card */

.recipe {
  background-color: var(--white);
  max-width: 50%;
  margin: 100px auto;
  padding: 3rem;
  border-radius: 1rem;
  display: grid;
  gap: 1.5rem;
}

li {
  margin-bottom: 0.2rem;
}

ul {
  list-style-type: square;
}

td {
  border-bottom: 1px solid;
}

.preparation {
  background-color: var(--rose-white);
  border-radius: 0.5rem;
  padding: 1rem;
}

/* Footer */

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
